.web-cal {
  padding: 50px;
}

.web-score {
  padding: 50px;
  text-align: center;
  background-color: #5561e2;
  background-image: linear-gradient(
    90deg,
    #5561e2 0,
    #969eed 100%,
    #5561e2 100%
  );
  color: #fff;
  box-shadow: 0 1px 2px 0 rgb(85 97 226 / 50%);
}

.web-score h5 {
  color: #fff;
}

.web-header {
  display: flex;
  align-items: center;
}

.back-arrow {
  padding-right: 15px;
  margin-bottom: 8px;
  cursor: pointer;
}
p {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
}
.apexcharts-legend-text {
  font-family: "Roboto Slab", serif !important;
}

.web-card:hover {
  background-color: #8189e9;
  background-position: right center;
  transition: all 750ms ease;
  cursor: pointer;
  border-radius: 10px;
}

.web-card:hover .card-text {
  color: #fff !important;
  font-weight: bold;
}

.web-cal-text {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}
